version: '3.8'

services:
  contract:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: xdc-contract-dev
    volumes:
      - ./contracts:/app/contracts
      - ./compile:/app/compile
      - ./scripts:/app/scripts
      
      - ./ignition:/app/ignition
      - ./test:/app/test

      # Configuration files
      - ./hardhat.config.ts:/app/hardhat.config.ts
      
      - ./tsconfig.json:/app/tsconfig.json
      - ../subnet/genesis.json:/subnet/genesis.json:ro
    env_file:
      - ./.env
    environment:
      - SUBNET_URL=${SUBNET_URL:-http://192.168.25.11:8545}
      - NETWORK_ID=${NETWORK_ID:-56316}
    networks:
      - xdc_subnet_network
    entrypoint: ["bash", "-c", "tail -f /dev/null"]

networks:
  xdc_subnet_network:
    external: true
    name: docker_net
